{% extends "base_template.html" %}
{% block content %}
<div class="container main">
<form id="widget" action='post_edit'>
    <input type="hidden" name="widget_id" value="{{widget.id}}">
    <h1>Name:</h1>
    <input type="text" value="{{widget.name}}" name="name">
    <h3>Type:</h3>
    <select name="type" value="{{widget.type}}">
        {% for x in data.types %}
            <option value="{{x.id}}" {% if x.id == widget.type %} selected {% endif %}>{{x.name}}</option>
        {% endfor %}
    </select>
    <h3>Image:</h1>
    <input type="text" value="{{widget.img}}" name="img">
</form>
</div>
{% endblock %}