{% extends "bootstrap/base.html" %}
{% block title %}{{ title }} - Michal{% endblock %}

{% block navbar %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Raspberry-Modbus Dashboard</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advanced <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Modbus</li>
                <li><a href="/change_ip">Change IP address</a></li>
                <li><a class="not_implemented" href="#">Change unit ID</a></li>
                <li><a href="/view_data">Check connection...</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Other</li>
                <li><a class="not_implemented" href="#">View server log</a></li>
            </ul>
          </li>
        </ul>
        <!--ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="./">Default <span class="sr-only">(current)</span></a></li>
          <li><a href="../navbar-static-top/">Static top</a></li>
          <li><a href="../navbar-fixed-top/">Fixed top</a></li>
        </ul>-->
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>
{% endblock %}

{% block content %}
<div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Status</h1>
            <p class="lead">{{ data.message }}</p>
            <hr class="my-4">
            <p>Check server log or README for more info.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/test_connection" role="button">Refresh</a>
            </p>
        </div>
        <div class="container">
                <div class="row">

                    {% for widget in data.widgets %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            {% if widget.img %}
                            <img src={{widget.img}} alt={{widget.name}}>
                            {% else %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHHcYRG05BOuIvUisgGh8TNm0hH4_71YU7DRvGPR1v3cvVLBkl" alt={{widget.name}}>
                            {% endif %}
                            <div class="caption">
                            <form action="/toggle_widget">
                                <h3>{{widget.name}}</h3>
                                <input type="hidden" value="{{widget.id}}" name="widget_id" />
                                <div class="btn-group btn-toggle">
                                {% if widget.status %}
                                    <button type="submit" name="Toggle" class="btn btn-sm btn-default active">ON</button>
                                    <button type="submit" name="Toggle" class="btn btn-sm btn-primary">OFF</button>
                                {% else %}
                                    <button type="submit" name="Toggle" class="btn btn-sm btn-primary">ON</button>
                                    <button type="submit" name="Toggle" class="btn btn-sm btn-default active">OFF</button>
                                {% endif %}
                                </div>
                            </form>
                            <form action="edit_widget">
                                <input type="hidden" value="{{widget.id}}" name="widget_id" />
                                <button type="submit" class="btn btn-sm btn-info">Edit</button>
                            </form>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <h2>Well, there are no widgets here today. Just me...</h2>
                    {% endfor %}

                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <form action="/add_widget">
                            <div class="caption">
                                <button type="submit" value="Submit" class="btn btn-primary active">Add widget</button>
                            </div>
                            </form>
                        </div>
                    </div>

                    <!-- <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                        <img src="https://www.domondo.pl/media/image/19/9a/b5/gotowa-aluzja-kremowa-widok_1_725x725.png" alt="...">
                        <div class="caption">
                            <h3>Zaluzje</h3>
                            <p>Sterownanie zaluzjami.</p>
                            <p>Status: zasolniete</p>
                            <p><a href="#" class="btn btn-default" role="button">Odslon</a></p>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                            <img src="https://sklep.auroks.pl/environment/cache/images/500_500_productGfx_3d1a04f1e6026021647d82bc0fab9961.jpg" alt="...">
                            <div class="caption">
                                <h3>Ogrzewanie</h3>
                                <p>Sterowanie temperatura w pomieszczeniu.</p>
                                <p>Status: wlaczone, 21°C</p>
                                <p><a href="#" class="btn btn-primary" role="button">Zmien temperature</a> <a href="#" class="btn btn-default" role="button">Wylacz</a></p>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                            <img src="https://www.atat.pl/2745-large_default/%C5%BCar%C3%B3wka-halogenowa-e27-42-w-630-lm-2800-k-philips-ecoclassic.jpg" alt="...">
                            <div class="caption">
                                <h3>Oswietlenie</h3>
                                <p>Sterowanie oswielteniem.</p>
                                <p>Status: wlaczone</p>
                                <p><a href="#" class="btn btn-default" role="button">Wylacz</a></p>
                            </div>
                            </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                            <div class="caption">
                                <h3>Nowe</h3>
                                <p>Podepnij nowe urzadzenie...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Dodaj...</a></p>
                            </div>
                            </div>
                    </div>                  
                </div> -->
        </div>
</div>
{% endblock %}
